<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Daisy UI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />

    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% include 'tailwindcss/config.html' %}
    {% include 'tailwindcss/custom_css.html' %}


    {% block css %}
        
    {% endblock css %}

    <title>Trip Planner</title>
</head>

<body>
    {% block content %}
        
    {% endblock content %}

    {% block js %}
        
    {% endblock js %}
</body>

</html>