{% extends 'base_templates/base.html' %}

{% block base_content %}
<div class="h-screen">
    <div class="bg-green-200 h-[10vh]">
        {% include 'navigation/top.html' %}
    </div>
    <div class="flex flex-col items-center">
        <div class="max-w-screen-2xl w-full">
            <div class="grid grid-cols-12 bg-green-400 h-[90vh]">
                <!-- <div class="col-span-1 bg-blue-200">
                    {% include 'navigation/side.html' %}
                </div> -->
                <div class="col-span-12 bg-blue-500">
                    {% block dashboard_content %}
                        
                    {% endblock dashboard_content %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock base_content %}